html {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
}

.backtotop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 2;
}

.backtotop img {
  width: 100px;
}

@media (max-width: 500px) {
  .backtotop {
    display: none;
  }
}

.home {
  background-color: #d1d1d1;
  text-align: center;
  width: 100vw;
  height: 1080px;
  position: relative;
  z-index: 3;
}

.home .banner1 {
  background-color: #818181;
  width: 150px;
  margin: auto;
  margin-top: 50px;
}

.navbar {
  background-color: #bdc0ba;
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  height: 110px;
  font-size: 24px;
  margin: auto;
  font-family: "Noto Sans TC", sans-serif;
}

.navbar #logoimg {
  width: 217px;
}

.navbar .container_fluid {
  width: 100%;
  margin: 0 170px;
}

@media (max-width: 991px) {
  .navbar .container_fluid {
    margin: 0;
  }
  .navbar .navbar-brand {
    color: #4e4e4e;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 50px;
  }
  .navbar .nav-link:not(.disabled):hover, .navbar .nav-link:not(.disabled):focus {
    background-image: none !important;
  }
  .navbar #logoimg {
    width: 100px;
  }
  .navbar .navbar-nav {
    margin: 0 !important;
  }
}

.navbar .navbar-brand {
  color: #4e4e4e;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .navbar-text {
  color: #4e4e4e;
}

.navbar .navbar-text a {
  color: #ffffff;
}

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
  color: #ffffff;
}

.navbar .navbar-nav {
  padding: 10px;
}

.navbar .navbar-nav .nav-link {
  color: #4e4e4e;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: black;
  background-image: url("../img/navhover.png");
  background-position: center;
  background-size: cover;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #ededed;
  border-color: #000000;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #4e4e4e;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #000000;
}

.navbar .navbar-toggle {
  border-color: #000000;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #000000;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #4e4e4e;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  background-color: #bdc0ba;
  border-color: #4e4e4e;
}

.navbar .navbar-link {
  color: #4e4e4e;
}

.introduce {
  padding-top: 110px;
  width: 100vw;
  height: 1080px;
  background-color: #ededed;
  background-image: url("../img/introbackground.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  text-align: center;
  padding-bottom: 56px;
  position: relative;
}

@media (max-width: 1200px) {
  .introduce {
    height: unset;
    padding-top: 0px;
  }
  .introduce .tab1 {
    padding-bottom: 500px;
  }
  .introduce .tab2 .imgcontent {
    width: 300px !important;
    top: 75% !important;
    right: 50% !important;
    -webkit-transform: translateX(50%) !important;
            transform: translateX(50%) !important;
  }
}

@media (max-width: 500px) {
  .introduce {
    height: 100vh;
  }
  .introduce .tab1 {
    margin: 10px !important;
    padding-bottom: 150px !important;
  }
  .introduce .tab1 .tab_btn_content .tab_btn {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .introduce .tab1 .context .context_article {
    font-size: 12px !important;
    line-height: 20px !important;
    padding: 0 10px !important;
  }
  .introduce .tab2 .imgcontent {
    width: 200px !important;
    top: 60% !important;
    right: 50% !important;
  }
  .introduce .tab2 .imgcontent .img {
    width: 100%;
    display: none;
  }
  .introduce .tab2 .imgcontent .img.active {
    display: block;
    border-top: none;
    margin: 0;
  }
  .introduce .intro_title {
    margin-top: 50px !important;
  }
  .introduce .intro_title .title p {
    font-size: 21px !important;
    line-height: 16px !important;
  }
}

.introduce .container {
  margin: auto;
}

.introduce .container .row {
  position: relative;
}

.introduce .container .row .tab1 {
  margin: auto;
  margin-top: 227px;
}

.introduce .container .row .tab1 .tab_btn_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.introduce .container .row .tab1 .tab_btn_content .tab_btn {
  width: 148px;
  color: #4e4e4e;
  font-size: 44px;
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 75px;
}

.introduce .container .row .tab1 .tab_btn_content .tab_btn.active {
  border: 1px solid black;
  border-radius: 50px;
}

.introduce .container .row .tab1 .context .context_article {
  display: none;
  text-align: justify;
  font-size: 38px;
  font-family: "Noto Sans TC", sans-serif;
  color: #828282;
  line-height: 38px;
}

.introduce .container .row .tab1 .context .context_article.active {
  display: block;
  border-top: none;
}

.introduce .container .row .tab2 .imgcontent {
  width: 500px;
  position: absolute;
  right: 35px;
  top: 90%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.introduce .container .row .tab2 .imgcontent .img {
  width: 100%;
  display: none;
}

.introduce .container .row .tab2 .imgcontent .img.active {
  display: block;
  border-top: none;
  margin: 0;
}

.introduce .container .row .intro_title {
  margin-top: 171px;
  height: 70px !important;
}

.introduce .container .row .intro_title .title p {
  font-size: 64px;
  font-family: "Noto Sans TC", sans-serif;
  color: #4e4e4e;
  line-height: 70px;
}

.distributed {
  padding-top: 110px;
  background-color: #d1d1d1;
  text-align: center;
  width: 100vw;
  height: 1080px;
  position: relative;
}

.distributed .container {
  margin: auto;
}

.distributed .container .distr_card1 .text {
  background-color: #818181;
  margin: auto;
  padding: 20px;
}

.distributed .container .distr_card1 .text p {
  margin: 0;
}

.distributed .container .distr_card2 {
  background-color: blanchedalmond;
  height: 600px;
  margin-bottom: 30px;
}

.danger {
  padding-top: 110px;
  background-color: #ededed;
  text-align: center;
  width: 100vw;
  height: 1080px;
  position: relative;
}

.danger .swiper-container {
  padding: 135px 0;
  width: 100%;
  height: 100%;
}

.danger .swiper-container .swiper-pagination {
  margin: 30px 0;
}

.danger .swiper-container .swiper-slide {
  width: 945px;
  height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.danger .swiper-container .swiper-slide .img {
  width: 300px;
  height: 466px;
  overflow: hidden;
  position: relative;
}

.danger .swiper-container .swiper-slide .img img {
  height: 100%;
  position: absolute;
  left: -65%;
  overflow: hidden;
}

.danger .swiper-container .swiper-slide .text {
  width: 400px;
  height: 100%;
  padding: 63px 38px;
  background-color: #ffffff;
  text-align: left;
  font-family: "Noto Sans TC", sans-serif;
}

.danger .swiper-container .swiper-slide .text .title {
  margin-bottom: 29px;
  font-size: 42px;
  color: #4e4e4e;
  line-height: 42px;
}

.danger .swiper-container .swiper-slide .text .subtitle {
  margin-bottom: 17px;
  font-size: 29px;
  color: #4e4e4e;
  line-height: 29px;
}

.danger .swiper-container .swiper-slide .text .context {
  font-size: 25px;
  text-align: justify;
  color: #828282;
  line-height: 25px;
}

.danger .swiper-slide:nth-child(2n) {
  width: 40%;
}

.danger .swiper-slide:nth-child(3n) {
  width: 20%;
}

.danger .swiper-slide-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 2;
}

@media (max-width: 1920px) {
  .danger .swiper-slide {
    width: 700px !important;
    height: 466px;
  }
}

@media (max-width: 1200px) {
  .danger {
    height: unset;
  }
  .danger .swiper-slide {
    height: unset !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .danger .swiper-slide .img {
    width: 100% !important;
  }
  .danger .swiper-slide .img img {
    position: relative !important;
    left: 0% !important;
    width: 100%;
  }
  .danger .swiper-slide .text {
    width: 100% !important;
    height: unset !important;
  }
}

@media (max-width: 1000px) {
  .danger {
    padding-top: 0px;
  }
  .danger .swiper-container {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .danger .swiper-container .swiper-slide {
    width: 100% !important;
    height: unset !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
  .danger .swiper-container .swiper-slide .img {
    width: 100%;
    height: unset !important;
  }
  .danger .swiper-container .swiper-slide .img img {
    height: 100% !important;
    overflow: hidden;
  }
  .danger .swiper-container .swiper-slide .text {
    background-color: unset;
  }
  .danger .swiper-container .swiper-pagination {
    margin: 30px 0;
  }
  .danger .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 500px) {
  .danger {
    height: 100vh;
  }
  .danger .swiper-container .swiper-slide {
    margin-bottom: 100px;
  }
  .danger .swiper-container .swiper-slide .text {
    background-color: unset;
    padding: 35px 35px 0 35px;
  }
  .danger .swiper-container .swiper-slide .text .title {
    font-size: 21px;
    line-height: 12px;
  }
  .danger .swiper-container .swiper-slide .text .subtitle {
    font-size: 16px;
    line-height: 16px;
  }
  .danger .swiper-container .swiper-slide .text .context {
    font-size: 12px;
    line-height: 20px;
  }
  .danger .swiper-pagination {
    margin: 0 !important;
  }
  .danger .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.protect {
  padding-top: 180px;
  padding-bottom: 66px;
  background-color: #ffffff;
  text-align: center;
  width: 100vw;
  position: relative;
}

.protect .text .title {
  font-size: 64px;
  color: #4e4e4e;
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 60px;
  line-height: 64px;
}

.protect .text .context {
  font-size: 38px;
  color: #828282;
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 85px;
  line-height: 38px;
}

.protect .container-fluid {
  margin: 0 auto;
  padding: 0 70px;
  width: unset;
}

.protect .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  padding-bottom: 66px;
}

.protect .box1 .swiper-container {
  width: 400px;
  padding: 0px;
  margin: 10px 0px;
}

.protect .box1 .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
}

.protect .box1 .swiper-container .swiper-slide .button {
  background-color: #bdc0ba;
  padding: 10px 50px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 26px;
  line-height: 26px;
  white-space: nowrap;
  font-family: "Noto Sans TC", sans-serif;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.protect .box1 .swiper-container .swiper-slide .button2 {
  background-color: #bdc0ba;
  padding: 10px 24px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 26px;
  line-height: 26px;
  white-space: nowrap;
  font-family: "Noto Sans TC", sans-serif;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .protect {
    height: unset;
    padding-top: 80px;
  }
  .protect .swiper-container {
    width: 320px !important;
    padding: 0px;
    margin: 10px 0px;
  }
  .protect .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 320px !important;
  }
}

@media (max-width: 500px) {
  .protect {
    padding-top: 50px;
  }
  .protect .text .title {
    font-size: 21px;
    margin-bottom: 30px;
    line-height: 21px;
  }
  .protect .text .context {
    font-size: 12px;
    color: #828282;
    font-family: "Noto Sans TC", sans-serif;
    margin-bottom: 25px;
    line-height: 20px;
  }
  .protect .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 200px !important;
    width: 200px;
  }
  .protect .swiper-slide .button {
    padding: 10px 30px !important;
    font-size: 13px !important;
    line-height: 13px !important;
  }
  .protect .swiper-slide .button2 {
    padding: 10px 18px !important;
    font-size: 13px !important;
    line-height: 13px !important;
  }
  .protect .swiper-container {
    width: 200px !important;
    padding: 0px;
    margin: 10px 0px;
  }
  .protect .box1 {
    padding: 0;
  }
}

.news {
  padding-top: 130px;
  padding-bottom: 60px;
  background-color: #ededed;
  width: 100vw;
  height: 1080px;
  position: relative;
}

.news .title {
  font-size: 64px;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .news {
    height: unset;
    padding-top: 50px;
  }
  .news .content {
    height: unset !important;
  }
  .news .content .img {
    width: 100%;
    height: 50%;
  }
  .news .content .img img {
    width: 100%;
    height: unset !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news .content .img iframe {
    width: 100%;
    height: unset !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1920px) {
  .news {
    height: unset;
  }
  .news .content {
    height: 850px;
    width: 100% !important;
  }
  .news .content .img {
    width: 100%;
    height: 50%;
  }
  .news .content .img img {
    width: 100%;
    height: 315px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news .content .img iframe {
    width: 100%;
    height: 315px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 500px) {
  .news {
    height: 100vh;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .news .title {
    font-size: 21px;
    margin-bottom: 0px !important;
  }
  .news .swiper-container {
    margin-left: 15px;
  }
  .news .swiper-slide {
    font-size: unset !important;
  }
  .news .swiper-slide .content {
    padding: 10px !important;
  }
  .news .swiper-slide .text .title {
    margin: 15px 0 0px 0;
    min-height: unset !important;
    font-size: 21px !important;
    line-height: 21px !important;
  }
  .news .swiper-slide .text .date {
    text-align: right;
    margin: 0;
  }
  .news .swiper-slide .text .context {
    min-height: 100px !important;
    overflow: hidden;
    font-size: 12px !important;
    margin: 0 !important;
  }
  .news .swiper-slide .text .ellipsis_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
  }
  .news .swiper-slide .text .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .news .swiper-button-prev {
    display: none;
  }
  .news .swiper-button-next {
    display: none;
  }
}

.news .swiper-container {
  margin: 0px 20px;
}

.news .swiper-wrapper {
  margin: 20px 0;
}

.news .swiper-slide {
  font-size: 18px;
  font-family: "Noto Sans TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.news .swiper-slide .content {
  width: 560px;
  height: unset;
  padding: 30px;
  background: #ffffff;
}

.news .swiper-slide .img {
  width: 100%;
  height: 50%;
}

.news .swiper-slide .text .title {
  margin: 15px 0 0px 0;
  min-height: 66px;
  font-size: 32px;
  color: #4e4e4e;
  line-height: 32px;
}

.news .swiper-slide .text .date {
  text-align: right;
  margin: 0;
}

.news .swiper-slide .text .context {
  min-height: 270px;
  overflow: hidden;
}

.news .swiper-slide .text .ellipsis_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.news .swiper-slide .text .ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.news .swiper-button-prev {
  color: black;
  left: 0px;
}

.news .swiper-button-next {
  color: black;
  right: 0px;
}

.gallery {
  padding-top: 110px;
  width: 100vw;
  height: 1080px;
  position: relative;
  background: #000;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .gallery {
    height: unset;
  }
}

footer {
  background-color: #bdc0ba;
  width: 100vw;
  height: 145px;
  position: relative;
}

@media (max-width: 1920px) {
  footer p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    color: #4e4e4e;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
}

@media (max-width: 1200px) {
  footer #img {
    opacity: 0;
  }
}

@media (max-width: 500px) {
  footer {
    height: 80px !important;
  }
  footer p {
    font-size: 12px !important;
  }
}

footer .container {
  position: relative;
  height: 100%;
}

footer .container .row {
  height: 100%;
}

footer .container .row #img {
  height: 97px;
  width: 217px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .container .row .text {
  position: relative;
  height: 100%;
}

footer .container .row .text p {
  font-size: 24px;
  color: #4e4e4e;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}
/*# sourceMappingURL=homestyle.css.map */