.page1 {
    background-color: rgb(209, 209, 209);
    text-align: center;
    height: 450px;
    position: relative;
}

.banner1{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page2 {
 background-color:  rgb(121, 121, 121);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner2_text{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.banner2_img{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page3 {
 background-color:  rgb(209, 209, 209);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner3_text{
background-color:rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.banner3_img{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page4 {
 background-color:  rgb(121, 121, 121);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner4{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page5 {
 background-color: rgb(209, 209, 209);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner5{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page6 {
 background-color:  rgb(121, 121, 121);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner6{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.page7 {
 background-color:  rgb(209, 209, 209);
 text-align: center;
 height: 350px;
 position: relative;
}

.banner7{
background-color: rgb(129, 129, 129);
width:150px;
margin: auto;
margin-top: 50px;
}

.footer{
 background-color: rgb(121, 121, 121);
 text-align: center;
 margin: auto;
}
